# Ignore macOS system files
.DS_Store

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore large model files
models/*.pkl

# Ignore temporary download/update folders
Downloading
Updating
models/*.pkl

models/*.pkl
